In [37]:
import pandas as pd


earthquick = pd.read_csv('data\earthquakes.txt', sep=' ', header=None)
earthquick.rename(columns={0: 'date', 1: 'time'}, inplace=True)
earthquick.rename(columns={2: 'lat'}, inplace=True)
earthquick.rename(columns={3: 'latd'}, inplace=True)
earthquick.rename(columns={4: 'long'}, inplace=True)
earthquick.rename(columns={5: 'longd'}, inplace=True)
earthquick.rename(columns={6: 'depth'}, inplace=True)
earthquick.rename(columns={7: 'mag'}, inplace=True)
earthquick

             date   time    lat latd   long longd depth  mag
0      2017-02-22  15:10  23.93    S  67.34     W   233  3.5
1      2017-02-22  14:56  47.30    N  23.79     E   3</  2.6
2      2017-02-22  14:49  21.51    S  67.15     W   234  3.3
3      2017-02-22  14:03  6.56&    N  73.50     W   113  3.6
4      2017-02-22  13:41  39.52    N  26.06     E   16<  2.1
...           ...    ...    ...  ...    ...   ...   ...  ...
49944  2016-03-11  00:38  32.78    S  71.05     W   67<  2.6
49945  2016-03-11  00:26  36.08    N  27.49     E   9</  2.2
49946  2016-03-11  00:11  37.57    N  118.8     W   5</  2.0
49947  2016-03-11  00:06  36.63    N  27.01     E   126  2.3
49948  2016-03-10  23:53  76.91    N  18.34     E   15<  2.2

[49949 rows x 8 columns]

In [38]:
earthquick['date'] = pd.to_datetime(earthquick['date'] + ' ' + earthquick['time'])
earthquick.drop(columns=['time'], inplace=True)
earthquick
earthquick.to_csv('data\earthquakes.csv', index=False)

In [40]:
earthquick.head()

                 date    lat latd   long longd depth  mag
0 2017-02-22 15:10:00  23.93    S  67.34     W   233  3.5
1 2017-02-22 14:56:00  47.30    N  23.79     E   3</  2.6
2 2017-02-22 14:49:00  21.51    S  67.15     W   234  3.3
3 2017-02-22 14:03:00  6.56&    N  73.50     W   113  3.6
4 2017-02-22 13:41:00  39.52    N  26.06     E   16<  2.1

In [39]:
earthquick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49949 entries, 0 to 49948
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    49949 non-null  datetime64[ns]
 1   lat     49949 non-null  object
 2   latd    49949 non-null  object
 3   long    49949 non-null  object
 4   longd   49949 non-null  object
 5   depth   49949 non-null  object
 6   mag     49949 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 2.7+ MB

In [ ]:
filter = earthquick['mag'] > 5