In [40]:
import pandas as pd


earthquick = pd.read_csv('data\earthquakes.txt', sep=' ', header=None)
earthquick.rename(columns={0: 'date', 1: 'time'}, inplace=True)
earthquick.rename(columns={2: 'lat'}, inplace=True)
earthquick.rename(columns={3: 'latd'}, inplace=True)
earthquick.rename(columns={4: 'long'}, inplace=True)
earthquick.rename(columns={5: 'longd'}, inplace=True)
earthquick.rename(columns={6: 'depth'}, inplace=True)
earthquick.rename(columns={7: 'mag'}, inplace=True)
earthquick

             date   time    lat latd   long longd depth  mag
0      2017-02-22  15:10  23.93    S  67.34     W   233  3.5
1      2017-02-22  14:56  47.30    N  23.79     E   3</  2.6
2      2017-02-22  14:49  21.51    S  67.15     W   234  3.3
3      2017-02-22  14:03  6.56&    N  73.50     W   113  3.6
4      2017-02-22  13:41  39.52    N  26.06     E   16<  2.1
...           ...    ...    ...  ...    ...   ...   ...  ...
49944  2016-03-11  00:38  32.78    S  71.05     W   67<  2.6
49945  2016-03-11  00:26  36.08    N  27.49     E   9</  2.2
49946  2016-03-11  00:11  37.57    N  118.8     W   5</  2.0
49947  2016-03-11  00:06  36.63    N  27.01     E   126  2.3
49948  2016-03-10  23:53  76.91    N  18.34     E   15<  2.2

[49949 rows x 8 columns]

In [41]:
earthquick['date'] = pd.to_datetime(earthquick['date'] + ' ' + earthquick['time'])
earthquick.drop(columns=['time'], inplace=True)
earthquick
earthquick.to_csv('data\earthquakes.csv', index=False)

In [42]:
earthquick.head()

                 date    lat latd   long longd depth  mag
0 2017-02-22 15:10:00  23.93    S  67.34     W   233  3.5
1 2017-02-22 14:56:00  47.30    N  23.79     E   3</  2.6
2 2017-02-22 14:49:00  21.51    S  67.15     W   234  3.3
3 2017-02-22 14:03:00  6.56&    N  73.50     W   113  3.6
4 2017-02-22 13:41:00  39.52    N  26.06     E   16<  2.1

In [43]:
earthquick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49949 entries, 0 to 49948
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    49949 non-null  datetime64[ns]
 1   lat     49949 non-null  object
 2   latd    49949 non-null  object
 3   long    49949 non-null  object
 4   longd   49949 non-null  object
 5   depth   49949 non-null  object
 6   mag     49949 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 2.7+ MB

In [44]:
earthquick['lat'] = earthquick['lat'].str.replace('&', '')
earthquick['long'] = earthquick['long'].str.replace('&', '')
earthquick['depth'] = earthquick['depth'].str.replace('</', '')
earthquick['depth'] = earthquick['depth'].str.replace('<', '')


earthquick['long'] = earthquick['long'].astype(float)
earthquick['lat'] = earthquick['lat'].astype(float)
earthquick['depth'] = earthquick['depth'].astype(float)
earthquick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49949 entries, 0 to 49948
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    49949 non-null  datetime64[ns]
 1   lat     49949 non-null  float64
 2   latd    49949 non-null  object
 3   long    49949 non-null  float64
 4   longd   49949 non-null  object
 5   depth   49949 non-null  float64
 6   mag     49949 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 2.7+ MB

In [52]:
#  filter on magnitude
filtermag = earthquick['mag'] > 2.0 
earthquick[filtermag]

                     date    lat latd    long longd  depth  mag
0     2017-02-22 15:10:00  23.93    S   67.34     W  233.0  3.5
1     2017-02-22 14:56:00  47.30    N   23.79     E    3.0  2.6
2     2017-02-22 14:49:00  21.51    S   67.15     W  234.0  3.3
3     2017-02-22 14:03:00   6.56    N   73.50     W  113.0  3.6
4     2017-02-22 13:41:00  39.52    N   26.06     E   16.0  2.1
...                   ...    ...  ...     ...   ...    ...  ...
49943 2016-03-11 00:49:00  64.74    N  145.60     W   15.0  2.5
49944 2016-03-11 00:38:00  32.78    S   71.05     W   67.0  2.6
49945 2016-03-11 00:26:00  36.08    N   27.49     E    9.0  2.2
49947 2016-03-11 00:06:00  36.63    N   27.01     E  126.0  2.3
49948 2016-03-10 23:53:00  76.91    N   18.34     E   15.0  2.2

[45326 rows x 7 columns]

In [51]:
filterdepth = earthquick['depth'] < 0
earthquick[filterdepth]

                     date    lat latd  long longd  depth  mag
1369  2017-02-13 14:59:00  47.45    N  8.10     E   -1.0  1.8
5032  2017-01-23 08:31:00  47.21    N  7.17     E   -1.0  1.8
5949  2017-01-17 05:54:00  47.10    N  9.11     E   -1.0  1.7
9340  2016-12-22 21:06:00  46.36    N  6.76     E   -2.0  1.7
9893  2016-12-18 11:00:00  46.97    N  8.84     E   -1.0  2.0
9921  2016-12-18 07:34:00  46.97    N  8.84     E   -2.0  2.0
15283 2016-11-12 10:39:00  46.25    N  6.95     E   -1.0  2.1
16795 2016-11-02 13:57:00  46.23    N  6.98     E   -1.0  1.5
19392 2016-10-20 08:36:00  46.91    N  8.34     E   -2.0  1.5
20303 2016-10-13 08:00:00  47.45    N  8.10     E   -1.0  1.5
20422 2016-10-12 11:29:00  46.23    N  6.99     E   -1.0  1.5
22046 2016-09-30 12:00:00  46.23    N  6.98     E   -1.0  1.5
22175 2016-09-29 13:19:00  47.71    N  7.81     E   -1.0  1.6
22411 2016-09-28 04:48:00  47.22    N  9.98     E   -2.0  1.9
25443 2016-09-08 21:50:00  45.65    N  6.76     E   -2.0  2.3
25480 2016-09-08 14:00:00  47.45    N  8.10     E   -1.0  1.5
26468 2016-09-02 14:26:00  46.23    N  6.98     E   -1.0  1.5
28163 2016-08-24 03:55:00  46.49    N  7.08     E   -1.0  1.5
30075 2016-08-09 12:51:00  47.32    N  7.18     E   -1.0  1.9
30675 2016-08-04 09:46:00  47.54    N  8.18     E   -1.0  1.9
32828 2016-07-19 03:39:00  46.48    N  7.08     E   -2.0  2.3
33233 2016-07-16 05:15:00  46.48    N  7.08     E   -1.0  1.5
33242 2016-07-16 02:45:00  46.49    N  7.08     E   -2.0  2.2
34653 2016-07-05 09:33:00  47.63    N  8.08     E   -1.0  1.6
34768 2016-07-04 16:03:00  46.74    N  7.57     E   -1.0  1.6
40883 2016-05-19 12:59:00  47.20    N  9.29     E   -1.0  1.6
41908 2016-05-11 14:12:00  47.16    N  7.20     E   -1.0  1.6
42178 2016-05-09 15:46:00  47.05    N  6.80     E   -1.0  1.8
45057 2016-04-18 11:06:00  47.28    N  7.04     E   -1.0  1.6
46617 2016-04-07 09:48:00  47.63    N  8.08     E   -1.0  1.5
48414 2016-03-24 10:43:00  47.56    N  8.18     E   -1.0  1.5
49664 2016-03-13 06:01:00  46.03    N  6.58     E   -1.0  1.5